* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

li {
  list-style: none;
}

.container-gnb {
  ul {
    display: flex;
  }

  li {
    margin: 0 1rem;
  }
}
